*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
}
nav{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 10vh;
    
   
    
}
nav .logo{
    flex: 30%;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex: 70%;
}
nav ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733) ;
    padding: 5px 20px;
    border-bottom: 3px solid transparent;
}
nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 10px;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    display: flex;
    
}
.logo span{
    color:rgba(225, 252, 164, 0.973);
   
}
.container{
    width: 100%;
    height: 90vh;
    background-image: url(../images/bg.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.row{
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.7);
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.hero-footer{
    margin: 0 0 0 30px;
    position: relative;
    top: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.hero-footer p{
    color: white;
}
 .hero-content{
    display: flex;
    flex-direction: column;  
 } 
 .hero-content p{
   padding: 20px 0; 
   font-size: 17px;
   color: white;
}
h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sb{
    border: none;
    padding: 13px;
    background-color: white;
}
.sb .fas{
    color: gray;
    font-size: 18px;
}
.sb .fas:hover{
    color: black;
    cursor: pointer;
}
.search-btn{   
    border-radius: 10px 0 0 10px;
}
.search-btn-last{
    border-radius: 0px 10px 10px 0px;
}
input{
    padding: 15px;
    border-radius: 0px;
    width: 60vw;
    border: none;
}
.btn{
    width: 100px;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 7px;
    color: rgb(3, 3, 3);
    background-color:rgba(68, 66, 66,0);
    border: 2px solid black;
    text-decoration: none;
}
.btn:hover{
    color: white;
    border-color: white;
    transition: .7s ease;
}
.award h1{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.award p{
    font-size: 22px;
  
}
.award{
    margin: 50px 30px 20px 30px;
    padding: 20px 0;
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.award:hover{
    background-color: #1D1D1D;
    cursor: pointer;
}
.award .award-bg{
    height: 170px;
    
    background: url("../images/awards-logo-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery .row-img{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-content: center;
    margin: 50px 30px 20px 30px;
   
}
.gallery .row-img .col-img{
    display: flex;
    flex-direction: column;
    
   
    width: 32.5%;
}
.gallery .row-img .col-img img {
    padding-top: 20px;
    width: 100%;
}
/* .flag{
    display: flex;
    justify-content: center;
    align-items: center;
} */
